<!--


-->
<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" />
	</head>
	<body>
		<div id="root">
			<modal v-if="showModal" @close="showModal = false">
				<p> Modal Content 01</p>
			</modal>
			<button @click="showModal = true">Show Modal 01</button>

			<modal v-if="showModal02" @close="showModal02 = false">
				<p> Modal Content 02</p>
			</modal>
			<button @click="showModal02 = true">Show Modal 02</button>

		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		
		<script>
			Vue.component('modal',
				{
					template: `
<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
	<div class="box">
		<slot></slot>
	</div>
  </div>
  <button class="modal-close is-large" aria-label="close" @click="$emit('close')"></button>
</div>
					`
				});
			var app = new Vue({
				el: '#root',
				data: {
					showModal: false,
					showModal02: false
				}

		});
		</script>
	</body>
</html>
